<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathSendAttachment" value="C:\anexosemail\"/>
    <add key="pathLog" value="C:\anexosemail\log\"/>
    <add key="host" value="pop.gmail.com"/>
    <add key="port" value="995"/>
    <add key="userName" value=""/>
    <add key="password" value=""/>
    <add key="subjectFindMail" value=""/>
    <add key="fileTypes" value="txt,xls,xlsx,pdf,doc,docx,csv,zip"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>